venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pdf
*.json
*.xlsx
*.csv
*.tsv
*.md
*.ini
*.cfg
*.env
*.env.*
*.pickle
*.pkl
*.egg-info/
research_extractor/data/text/*.txt
dist/
build/
temp_segmented_text/